.interview{:id => dom_id(interview)}
  .title
    =link_to interview.question, interview_path(interview)
  .options= humanize_options(interview)
  .summary
    respones:
    = interview.responses.size