.option{:id => dom_id(option)}
  -form.fields_for(:option_attributes) do |fields|
    =fields.hidden_field '][id', :value => option.id
    =fields.text_field '][name', :value => option.name
    .delete
      =link_to_function 'Delete This Option' do |page|
        -page << "$(this).parents('.option').remove()"