.interview{:id => dom_id(@interview)}
  .row
    .title Question:
    =@interview.question
  .row
    .title Description:
    =@interview.description
  .row
    .title Options:
    =humanize_options(@interview)
  .controls
    =link_to 'edit', edit_interview_path(@interview)
    =link_to 'download responses', interview_responses_url(@interview, :format => 'csv')
    =link_to 'your other interviews', interviews_path
  #responses
    - if @interview.responses.empty?
      %p There are no responses to this question yet
    - else
      %table
        %tr
          %th.title='User'
          %th.title='Response'
          %th.title='Comment'
        =render :partial => @interview.responses
-content_for :small do
  %h2 Next...
  %h3 1. Copy and paste this html to any page you want to include interview questions on
  =javascript_include_tag 'jquery', 'facebox', 'jquery-simpletip-1.3.1' #, :cache => 'backseat-client'
  =stylesheet_link_tag 'facebox', 'client', :cache => 'backseat-client'
  .code=h stylesheet_link_tag 'facebox', 'client', :cache => 'backseat-client'
  .code=h javascript_include_tag 'jquery', 'facebox', 'jquery-simpletip-1.3.1', :cache => 'backseat-client'
  
  %h3 2. Copy and paste this html where you want the question to appear as an Image
  .code
    =h(javascript_include_tag(interview_javascript_badge('image'))).gsub('&amp;', '&')
  .example
    Example:
    =javascript_include_tag(interview_javascript_badge('image'))