body 				{font-family: arial, helvetica, verdana, sans-serif;  margin: 0px auto; padding: 0px; color: #333; text-align: center; font-size: 12px; line-height: 130%;}
div, img, form, ul 	{margin: 0px; padding: 0px; border: 0px; text-align: left;}
.left 				{float: left;}	
.tr, div.tr, 
div span.tr           {text-align: right;}
.right 				{float: right; }	
a 					{text-decoration: underline; color: #006c95;}
a:hover 			{text-decoration: none; }
.clear 				{clear: both;}
#wrapper      {margin: 0px auto; width: 968px; padding: 0 0 0 0; }	
#header       {background: #eee; font-size: 17px; padding: 10px; font-weight: bold;}
.title        {font-weight: bold; font-size: 13px;}

h1            {font-size: 25px; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; margin: 30px 0 20px 0;}
#content      {padding: 10px 0;}
#create       {padding: 0 10px 10px 10px; border-bottom: 1px solid #ccc; font-weight: bold;}
.interview    {border-bottom: 1px solid #ccc; padding: 10px;}

.controls a   {margin-right: 5px; font-weight: bold;}

input, text, select {font-family: arial;}
.row label				  {width: 100px; letter-spacing: 0pt; padding: 2px 0; float: left; color: #555; }
.row input,
.row select,
.row textarea			{width: 400px; padding: 3px; border-top:1px solid #7c7c7c; border-left:1px solid #c3c3c3; border-right:1px solid #c3c3c3; border-bottom:1px solid #ddd; background:#fff url(/images/fieldbg.gif) repeat-x top;}
ul            {margin:  0 0 0 0; padding: 0 0 0 0;}


.row, .button_row          {padding: 5px 0; }
.button_row input {font-size: 13px; background: #0368a0; padding: 7px; color: white; font-weight: bold; border: 2px solid #ccc; margin-right: 5px; } 
.button_row input:hover {background: #047bbd; cursor: pointer; color: #ddd;} 
.button_row a   {font-weight: bold; text-decoration: underline;}
.button_row a:hover   {text-decoration: none;}
.add input {width: auto; font-size: 12px; border: none; background: none; text-decoration: underline; font-weight: bold; color: #006c95;}
.option         {padding:  10px 0 0 100px;}
.delete           {padding: 4px 0;}
.add           		{padding: 4px 0;}
.delete a         {font-weight: bold;}
.add a         		{font-weight: bold;}

.popup {
	position: absolute;
	display: none;
	border-collapse: collapse;
}