%html
  %head
    = stylesheet_link_tag 'main'
    = javascript_include_tag :defaults
  %body
    #wrapper
      #header
        Backseat is great
      #message=flash[:message] if flash[:message]
      #error=flash[:error] if flash[:error]
      #content
        =link_to 'logout', session_url, :method => :delete if logged_in?
        .text1a
          =yield
      #footer